<div class="page-content">
  <!-- Remove the container-fluid if you want to extend the Footer to full width. -->
  <div class="container-fluid">
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: black">
      <!-- Grid container-fluid -->
      <div class="container-fluid">
        <!-- Section: Links -->
        <section class="mt-5">
          <!-- Grid row-->
          <div class="row text-center d-flex justify-content-center pt-5">
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a routerLink="/" class="text-white">Home</a>
              </h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a routerLink="/cryptoCurrencies" class="text-white">Crypto Currencies</a>
              </h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a routerLink="/exchange" class="text-white">Exchange</a>
              </h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a routerLink="/news" class="text-white">News</a>
              </h6>
            </div>

            <!-- Grid column -->
          </div>
          <!-- Grid row-->
        </section>
        <!-- Section: Links -->

        <hr class="my-5" />

        <!-- Section: Text -->
        <section class="mb-5">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              <p>
                In Our Website We Make The creation of Bitcoin is known as a mining activity because
                computers work constantly
                to solve the mathematical problems, and the result is the presentation of encrypted keys
                that are used as coins.
              </p>
            </div>
          </div>
        </section>
        <!-- Section: Text -->

        <!-- Section: Social -->
        <section class="text-center pb-3">
          <a href="" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-github"></i>
          </a>
        </section>
        <!-- Section: Social -->
      </div>
      <!-- Grid container-fluid -->
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </div>
  <!-- End of .container-fluid -->
</div>
