.page-content {
  display: block;
  width: 100%;
  padding-top: 20px;
  padding-left: 310px;
}
.contain {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}
.contain img {
  transform: translatex(0) rotateX(-180deg);
  animation: walk 5s linear infinite alternate;
}
@keyframes walk {
  0% {
    transform: translateX(400%);
  }
  100% {
    transform: translateX(-300%);
  }
}
