.page-content {
  display: block;
  width: 100%;
  padding-top: 20px;
  padding-left: 330px;
}
@media (min-width: 320px) {
  .card-curruncy {
    padding-left: 0;
  }
  .page-content {
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .page-content {
    padding-left: 330px;
  }
}
