.page-wrapper .page-content {
  display: inline-block;
  width: 100%;
  padding-left: 0px;
  padding-top: 20px;
}
.page-content {
  padding-left: 330px;
}
.page-wrapper .page-content > div {
  padding: 20px 1px;
}

.page-wrapper .page-content {
  overflow-x: hidden;
}
.crypto-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0;
}
@media (min-width: 320px) {
  .card-curruncy {
    padding-left: 0;
  }
  .page-content {
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .page-content {
    padding-left: 330px;
  }
}
