<div class="page-wrapper chiller-theme" [ngClass]="isOpend === true ? 'toggled' : ''">
  <nav id=" sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-header">
        <a routerLink="/">
          <div class="user-pic">
            <img class="img-responsive img-rounded" width="40" src="../assets/img/logo.png" alt="User picture">
          </div>
          <div class="user-info align-items-center">
            <h2 class="heading text-light fs-2 fw-bolder">Cryptoverse</h2>
          </div>
        </a>
        <div class="toogle ms-5 d-inline-block">
          <a class="toogle" (click)="change()"><i class="fa-solid fa-bars"></i></a>
        </div>
      </div>

      <!------------------------------------------------------------------------------------------------ sidebar-header  ----------------------------------------------------------------------------------------------------------------->

      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul>
          <li class="sidebar-dropdown" [ngClass]="active === 'home' ? 'active' : ''">
            <a routerLink="/" class="fw-bolder" (click)="active = 'home'">
              <i class="fa-solid fa-house"></i>
              <span>Home</span>
            </a>
          </li>
          <li class="sidebar-dropdown" [ngClass]="active === 'cryptoCurrency' ? 'active' : ''">
            <a routerLink="/cryptoCurrencies" (click)="active = 'cryptoCurrency'" class="fw-bolder">
              <i class="fas fa-chart-line"></i>
              <span>Crypto Currencies</span>
            </a>
          </li>
          <li class="sidebar-dropdown" [ngClass]="active === 'exchange' ? 'active' : ''">
            <a routerLink="/exchange" class="fw-bolder" (click)="active = 'exchange'">
              <i class="fas fa-exchange-alt"></i>
              <span>Exchanges</span>
            </a>

          </li>
          <li class="sidebar-dropdown" [ngClass]="active === 'news' ? 'active' : ''">
            <a routerLink="/news" class="fw-bolder" (click)="active = 'news'">
              <i class="far fa-lightbulb"></i>
              <span>News</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
  </nav>
</div>
<div *ngIf="!isOpend" class="toogle ms-5 d-inline-block position-fixed top-0 end-0 me-4 mt-4">
  <button (click)="change()"><i class="fa-solid fa-bars"></i></button>
</div>
