<div class="page-content">
  <div *ngIf="!isLoading">
    <select name="" id="browsers" height="8" class="mt-4" (change)="search($event.target.value)">
      <option value="{{search}}" class="py-2" *ngFor="let search of searchData">{{search}}</option>
    </select>
    <div class="container-fluid mt-4">
      <div class="row justify-content-between">
        <a href="{{news.url}}" target="_blank" routerLinkActive="router-link-active"
          class="card box-shadow text-decoration-none text-dark mb-4 flex-wrap me-1 align-items-center flex-row col-3 padding-card"
          *ngFor="let news of newsData">
          <h4 class="col-8">{{news?.name}}
          </h4>
          <img *ngIf="news?.image" src="{{news.image?.thumbnail?.contentUrl}}" class="rounded-2" width="100"
            height="100" alt="Image Not Available">
          <p class="news-description">{{news.description}}</p>
          <div class="col-9">
            <img
              [src]="news?.provider[0]?.image?.thumbnail?.contentUrl ||   'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHt_o5EhnxmDxXfGyuEEg4x4rEXlPNck0hlF-m3mdVfuUrQ49hIWj7afTTLYpLxGFaUA8&usqp=CAU'"
              class="rounded-circle" width="30" height="30" alt="">
            <span>{{news?.provider[0]?.name}}</span>
          </div>
          <span>{{news?.datePublished | date : short}}</span>
        </a>
      </div>
    </div>
  </div>
  <div class="contain" *ngIf="isLoading">
    <div class="dash uno"></div>
    <div class="dash dos"></div>
    <div class="dash tres"></div>
    <div class="dash cuatro"></div>
  </div>
</div>
