.page-wrapper .page-content {
  display: inline-block;
  width: 100%;
  padding-left: 0px;
  padding-top: 20px;
}
.page-content {
  padding-left: 310px;
}
.page-wrapper .page-content > div {
  padding: 20px 1px;
}

.page-wrapper .page-content {
  overflow-x: hidden;
}
.crypto-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0;
}
datalist {
  position: absolute;
  max-height: 20em;
  border: 0 none;
  overflow-x: hidden;
  overflow-y: auto;
}
.option {
  font-size: 0.8em;
  padding: 0.3em 1em;
  background-color: #ccc;
  cursor: pointer;
}
input[name="service-city"] {
  border: 2px solid orange;
  border-radius: 10px 10px 10px 10px;
  font-size: 18px;
  padding: 5px;
  height: 35px;
  width: 350px;
}
.col-3 {
  width: 32%;
}
.news-description {
  text-overflow: ellipsis;
  width: 100%;
  line-height: 1.2em;
  height: 3.6em;
  overflow: hidden;
  display: -webkit-box;
}
