/* You can add global styles to this file, and also import other style files */
:root{
  --bs-body-font-family : 'Rajdhani', sans-serif !important;
  --bs-body-font-weight : 600 !important;
  --bs-body-secondary-font-family :  -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
body
{
  background-color: #f0f2f5;
  overflow-x: hidden;
}
*
{
  margin: 0;
  box-sizing: border-box;
}
