body {
  overflow-x: hidden;
}
.container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.page-content {
  display: inline-block;
  width: 100%;
  padding-left: 0px;
  padding-top: 20px;
  background-color: #f0f2f5;
}
.page-content {
  padding-left: 330px;
}
.page-wrapper .page-content > div {
  padding: 20px 1px;
}

.page-wrapper .page-content {
  overflow-x: hidden;
}
.padding-0 {
  padding-left: 0;
}
/*------scroll bar---------------------*/

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #525965;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #525965;
}
::-webkit-scrollbar-thumb:active {
  background: #525965;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/*-----------------------------chiller-theme-------------------------------------------------*/

.chiller-theme .sidebar-wrapper {
  background: black;
}

.chiller-theme .sidebar-wrapper .sidebar-header,
.chiller-theme .sidebar-wrapper .sidebar-search,
.chiller-theme .sidebar-wrapper .sidebar-menu {
  border-top: 1px solid #3a3f48;
}

.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
  border-color: transparent;
  box-shadow: none;
}

.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text,
.chiller-theme .sidebar-wrapper .sidebar-brand > a,
.chiller-theme .sidebar-wrapper .sidebar-menu ul li a,
.chiller-theme .sidebar-footer > a {
  color: #818896;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover > a,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info,
.chiller-theme .sidebar-wrapper .sidebar-brand > a:hover,
.chiller-theme .sidebar-footer > a:hover i {
  color: #b8bfce;
}

.page-wrapper.chiller-theme.toggled #close-sidebar {
  color: #bdbdbd;
}

.page-wrapper.chiller-theme.toggled #close-sidebar:hover {
  color: #ffffff;
}

.chiller-theme .sidebar-wrapper ul li:hover a i,
.chiller-theme
  .sidebar-wrapper
  .sidebar-dropdown
  .sidebar-submenu
  li
  a:hover:before,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus + span,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
  color: #16c7ff;
  text-shadow: 0px 0px 10px rgba(22, 199, 255, 0.5);
}

/* .chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background: #3a3f48;
} */

.chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
  color: #6c7b88;
}

.chiller-theme .sidebar-footer {
  background: #3a3f48;
  box-shadow: 0px -1px 5px #282c33;
  border-top: 1px solid #464a52;
}

.chiller-theme .sidebar-footer > a:first-child {
  border-left: none;
}

.chiller-theme .sidebar-footer > a:last-child {
  border-right: none;
}
.crypto {
  font-family: var(--bs-body-secondary-font-family);
  font-size: 30px;
}
.crypto-history {
  font-family: var(--bs-body-secondary-font-family);
}
.text-gray {
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
}
.crypto-number {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5715;
}
.crypto-title {
  margin-bottom: 5px;
}
.crypto-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0;
  padding: 16px 14px;
}
.top-ten .container .row {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.news-description {
  text-overflow: ellipsis;
  width: 100%;
  line-height: 1.2em;
  height: 3.6em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.link-more {
  color: #1890ff;
  font-family: var(--bs-body-secondary-font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.card {
  min-width: 240px;
}
.card:hover {
  box-shadow: 2px 2px 2px #525965;
}
.box-shadow {
  -webkit-box-shadow: 0 1px 12px rgba(72, 78, 85, 0.6);
  box-shadow: 0 1px 12px rgba(72, 78, 85, 0.6);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.box-shadow:hover {
  -webkit-box-shadow: 0 20px 40px rgba(72, 78, 85, 0.6);
  box-shadow: 0 20px 40px rgba(72, 78, 85, 0.6);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
}
.crypto-card-res {
  margin-left: -28px;
  margin-right: -16px;
  row-gap: 32px;
}
.crypto-card-news-res {
  width: 340px;
  margin-left: 30px;
}
@media (min-width: 320px) {
  .page-content {
    padding-left: 0;
  }
  .crypto-card-res {
    margin-left: 0;
    margin-right: 0;
  }
  .crypto-card-news-res {
    width: 285px;
    margin-left: 0px;
  }
  .justify-content-cyenter {
    justify-content: center;
  }
  .margin-left {
    margin-left: 20px;
  }
}
@media (min-width: 768px) {
  .page-content {
    padding-left: 330px;
  }
  .crypto-card-res {
    margin-left: -28px;
    margin-right: -16px;
  }
  .crypto-card-news-res {
    width: 340px;
    margin-left: 30px;
  }
  .margin-left {
    margin-left: 0px;
  }
}
