.page-wrapper .page-content {
  display: inline-block;
  width: 100%;
  padding-left: 0px;
  padding-top: 20px;
}
.page-content {
  padding-left: 310px;
}
.page-wrapper .page-content > div {
  padding: 20px 1px;
}

.page-wrapper .page-content {
  overflow-x: hidden;
}
.crypto-card-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-radius: 0;
}
.contain {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}
.contain img {
  transform: translatex(0);
  animation: walk 5s linear infinite alternate;
}
@keyframes walk {
  0% {
    transform: translateX(400%);
  }
  100% {
    transform: translateX(-300%);
  }
}
